h1 {
    text-align:center;
    font-size:xx-large;
}

body {
    background-color:palegreen;
    color:slateblue;
}

section {
    background-color:papayawhip;
}

nav {
    background-color:peachpuff;
}

a {
    color:dimgray
    text-decoration: none;
    font-size: large;
}