caption {
    font-weight: bold;
    margin-bottom: 5%;
}

table {
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

thead {
    color: blue;
    font-weight: bold;
}

tfoot {
    color: red;
}

td {
    border-width: 1px;
    border-style: solid;
    border-width: 50%;
}